@font-face {
  font-family: 'ceremony';
  src: url('DIN Medium Regular.ttf');
}

body {
	margin:0;
	background-color:black;
	font-family:"ceremony";
	color:black;
}

#header {
	position:fixed;
	width:90%;
	margin-left:5%;
	margin-right:5%;
	min-width:400px;
	height:60px;
	background-color:rgba(255, 255, 255, .7);
	margin-top:1%;
}

#logo {
	top:10%;
	height:80%;
	position:absolute;
	left:1%;
}

#contact {
	position:absolute;
	text-align:center;
	line-height:60px;
	left:50%;
	width:50%;
	display: flex;
  	justify-content: center;
  	align-items: center;
}

#contact > a {
	line-height:100%;
	text-decoration:none;
	font-size:18px;
	margin-left:10%;
	margin-right:10%;
	color:black;
}

#landing-img {
	width:100%;
	height:100%;
}

#landing {
	width:100%;
	background-color:black;
	height:90%;
	text-align:center;
}

.page {
	width:80%;
	height:450px;
	padding:10%;
	overflow:hidden;
}

#vol2{
	background-color:white;
}

#zine2-info{
    width: 50%;
    display:inline-block;
    font-size:24px;
    text-align:center;
    vertical-align: middle;
}  

#zine2-names {
	font-size:24px;
    padding:30px;
}

#zine2-download {
	background-color:rgb(196, 196, 196);
	width:66%;
	margin-left:17%;
	margin-right:17%;
	position:relative;
	text-align:center;
}

#zine2-download > a{
	text-decoration:none;
	color:black;
	line-height:40px;
}



#zine2-cover{
    width: 50%;
    display:inline-block;
    text-align:center;
    vertical-align: middle;
}  


#zine2-cover-img {
	height:75%;
}


#vol1{
	background-color:rgb(232, 240, 245);
}

#vol1-logo {
	width:45%;
	margin-left:25%;
	margin-right:25%;
	margin-bottom:5%
}

#zine1-info{
    width: 50%;
    display:inline-block;
    font-size:24px;
    text-align:center;
}

#zine1-download {
	background-color:rgb(196, 196, 196);
	width:66%;
	margin-left:17%;
	margin-right:17%;
	position:relative;
	text-align:center;
	margin-top:30px;
}

#zine1-download > a{
	text-decoration:none;
	color:black;
	line-height:40px;
}



#zine1-cover{
    width: 50%;
    display:inline-block;
    text-align:center;
}  


#zine1-cover-img {
	height:75%;
}



#event1-info{
    width: 50%;
    display:inline-block;
    font-size:24px;
    text-align:center;
}

#event1-download {
	background-color:rgb(196, 196, 196);
	width:66%;
	margin-left:17%;
	margin-right:17%;
	position:relative;
	text-align:center;
	margin-top:30px;
}

#event1-download > a{
	text-decoration:none;
	color:black;
	line-height:40px;
}



#event1-cover{
    width: 50%;
    display:inline-block;
    text-align:center;
}  


#event1-cover-img {
	height:75%;

}

#footer {
	width:100%;
	height:100px;
	background-color:black;
	color:white;
	display: flex;
  	justify-content: center;
  	align-items: center;
	
}

#footer-logo {
	width:18%;
	margin-right:5%;

}

#footer-info {
	width:20%;
	margin-right:25%;
}

#footer-contact {
	width:20%;
	margin-right:5%;
}